<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <center>
        <div>Enter Your Email to Receive new Posts Whenever Created</div><br>
        <form action="/add-email" method="post">
            {% csrf_token %}
            <input name="email" type="email" placeholder="Enter Your Email">
            <button type="submit">Submit</button>
        </form>
    </center>
</body>
</html>